
/*main container*/
.cv{
margin: 5% 20%;
box-sizing: border-box;
border-top: 8px solid #07a3ca;
border-bottom: 3px solid #07a3ca;
background-color: rgb(245, 245, 245);
}

/*shared properties*/
.personal_info,.profile,.skills,.technical,.experience,.education,.footer{
    display: flex;
    margin: 10px 5%;
    border-bottom: 1px solid rgb(190, 190, 190);
    position:relative;
    margin-bottom:2px ;
}
.left{
    flex:2;
}
.right{
    flex:13;    
}

/*personal info part*/
.left_personal_info {   
    padding-bottom: 10px;
    flex: 1;
}
.right_personal_info {    
    padding-bottom: 10px;
    flex: 1;
    margin-left:60px;
    justify-content: flex-end;
}
h1{
    margin-bottom: 0;
    color: rgba(22, 22, 22, 0.8);
    letter-spacing: 5px;   
}
h4{
    margin: 0;
    color: rgba(53, 52, 52, 0.8);
}

p{
    margin: 2px;
    font-size: small;
}  
.pdf{
    height: 25px;
    margin-top:20px ;
    text-align:left;
    padding-left: 8px;
    width: 150px;
    background-color: #07a3ca;
    color: #fff;
    cursor: pointer;
}

/*profile part*/
.profile h3,.profile p{
    margin:30px 0 ;
    display: flex;
    align-self:flex-start;  
}

.profile p{
    font-size: medium;
    word-spacing: 1px;
    line-height: 1.25em;
}

/*skills part */
.right_skill{
    display: flex;
    margin-bottom:30px  ;
}
.type {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10%;
}
.skills h3{
    display: flex;
    align-self:flex-start;
    margin-top: 20px;
    margin-bottom: 0;  
}
.type:nth-child(4){
    margin-right: 6%;
}
.type p{
    font-size: 14px;
}

/*technical part */
.right_technical  {
    margin-bottom:30px  ;
}
.margin{
    flex :4;
}
.first_line ,.second_line,.third_line,.content,.content p{
    display: flex;
}
.right_technical .content { 
    flex:40;
    display: flex;
    border-bottom: 1px solid rgb(190, 190, 190);
}
.content p{
    flex: 1;
}
#second_item{
    flex: 1;
    justify-content: flex-start;
    padding-left: 30px;
}
p.last_item{
    position: relative;
    left: 35px;
}
.right_technical .third_line .content{
    border: 0;
}

/*experince part*/
.right_experience  {
    margin-bottom:30px  ;
}
.experience_type {
    display: block;
    border-bottom: 1px solid black;
}
 h3,.experience_type h4{
    margin-bottom: 0;
}
#date{
    text-align:end;
    position: relative;
    top: -120px;
    right: 5px;
    margin-top: 25px;
}

/*education part*/
.left_education{
    display: flex;
}
.right_education  {
    margin-left: 0;
    justify-content: flex-start;
    margin-bottom:60px  ;
}
.right_education h3{
    margin-bottom: 0;
}
.IBM{
    border: 0;
}

/*footer part*/
.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom:60px  ;
}
.footer{
    border-bottom: 0;
}